#logo {
    margin-left: -98.875%;
}



/* Google like search bar */

 
/* Style the search input field. */
#portal-searchbox .searchField {
    float: left; 
    height: 27px; 
    line-height: 27px;
    text-indent: 10px; 
    font-family: arial, sans-serif; 
    font-size: 1em; 
    color: #333; 
    background: #fff; 
    border: solid 1px #d9d9d9; 
    border-top: solid 1px #c0c0c0; 
    border-right: none;
}
 
/* Style the "X" text button next to the search input field */
#portal-searchbox #delete {
    float: left;
    width: 16px;
    height: 27px; 
    line-height: 27px; 
    margin-right: 15px; 
    padding: 0 10px 0 10px;
    font-family: "Lucida Sans", "Lucida Sans Unicode",sans-serif;
    font-size: 22px; 
    background: #fff;  
    border: solid 1px #d9d9d9; 
    border-top: solid 1px #c0c0c0; 
    border-left: none;
}
/* Set default state of "X" and hide it */
#portal-searchbox #delete #x {
    color:#A1B9ED; 
    cursor:pointer;
    display:none;
}
/* Set the hover state of "X" */
#portal-searchbox #delete #x:hover {
    color:#36c;
}
/* Syle the search button. Settings of line-height, font-size, text-indent used to hide submit value in IE */
#portal-searchbox .searchButton {
    float: left;
    cursor:pointer; 
    width:31px; 
    height: 31px; 
    line-height:0; 
    font-size:0; 
    text-indent:-999px;
    color: transparent;  
    background: url(../images/ico-search.png) no-repeat center #4d90fe; 
    border: 1px solid #3079ED; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
}
/* Style the search button hover state */
#portal-searchbox .searchButton:hover {
    background: url(../images/ico-search.png) no-repeat center #357AE8; 
    border: 1px solid #2F5BB7;
}

.searchSection{
    clear: both;
}

/* Clear floats */
.fclear {clear:both}